**Take-Home Assignment #4** \
Mahima Sachdeva \

**Table Info:** \
SALES – Date, Order_id, Item_id, Customer_id, Quantity, Revenue \
ITEMS – Item_id, Item_name, price, department \
CUSTOMERS- customer_id, first_name,last_name,Address

---

1. Pull the total number of orders that were completed on 18th March 2023

SELECT COUNT(order_id) \
FROM sales \
WHERE date = "03-18-2023"

---

2. Pull the total number of orders that were completed on 18th March 2023 with the first name "John" and last name "Doe"

SELECT COUNT(order_id) \
FROM sales \
INNER JOIN customers \
&emsp; ON sales.customer_id = customers.customer_id \
WHERE \
&emsp; date = "03-18-2023" \
&emsp; AND first_name = "John" \
&emsp; AND last_name = "Doe";

---

3. Pull the total number of customers that purchased in January 2023 and the average amount spent per customer

SELECT \
&emsp; COUNT(DISTINCT customer_id) AS total_customers, \
&emsp; AVG(total_spent) AS avg_spent_per_customer \
FROM ( \
&emsp; SELECT customer_id, SUM(revenue) AS total_spent \
&emsp; FROM sales \
&emsp; WHERE date BETWEEN "01-01-2023" AND "01-31-2023" \
&emsp; GROUP BY customer_id \
) AS selected_customer_spending;

---

4. Pull the departments that generated less than $600 in 2022

SELECT department \
FROM ( \
&emsp; SELECT department, SUM(revenue) AS total_revenue \
&emsp; FROM sales \
&emsp; INNER JOIN items \
&emsp; &emsp; ON sales.item_id = items.item_id \
&emsp; WHERE sales.date LIKE "%2022" \
&emsp; GROUP BY department \
) AS department_revenue \
WHERE department_revenue < 600;

---

5. What is the most and least revenue we have generated by an order

SELECT \
&emsp; MAX(revenue) AS most_revenue, \
&emsp; MIN(revenue) AS least_revenue \
FROM sales

---

6. What were the orders that were purchased in our most lucrative order

SELECT item_id, order_id, revenue \
FROM sales \
WHERE order_id = ( \
&emsp; SELECT order_id \
&emsp; FROM sales \
&emsp; GROUP BY order_id \
&emsp; ORDER BY SUM(revenue) DESC \
&emsp; LIMIT 1 \
);

---